/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.06.2016, 11:42:56
    Author     : lothar
*/

.indexButtons{
    width: 500px;
    height: 100px;
    border-color: blue;
}

.buttonImage{
    margin-right: 10px;
    width: 100px;
}

.tableButton{
    margin: auto;
    display: block;
}

.clock{
    padding: 0px;
    margin: 0px;
    background-color: transparent;

}

.topAligned {
   position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin:auto;
    align-self: center;
    display: block;
    margin-left: 3.5em;
}

.centeredMenuBar.ui-menubar {
    text-align: center;
}

.centeredMenuBar .ui-menu-list {
    display: inline-block;
}
